/*/**** general page styling ****/
body {
  font: 15px;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
*/
h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

h4 {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border-width: 2px 0;
  border-color: #c4c3c2;
}

p {
  text-align: justify;
}

p.indent {
  padding-left: 1.8em
}

label {
  font-size: 12px;
  font-family: sans-serif;
  fill: black;
}

text.label {
  font-size: 14px;
  font-family: sans-serif;
  fill: black;
}

#attribution {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

.stateLabel {
  font-size: 24px;
  font-family: sans-serif;
  color: black;
}

.vizTitle {
  margin-top: 10px;
  font-size: 26px;
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-weight: 500;
}

/***** map styling *****/

.legend {
	position: absolute;
	left: 800px;
	top: 350px;
}

#StateMapOverview {
  width: 1024px;
  margin: 0 auto;
}

/***** road styling *****/

#leftRoad {
  height: 600px;
}

#rightRoad {
  height: 600px;
}

.roadViz {
  width: 500px;
}

.container {
  margin: 0 auto;
}

.bothRoads {
  width: 1000px;
  margin: 0 auto;
}

.dropdown {
  margin-top: 20px;
  width: 1000px;
  margin: 0 auto;
}

select {
  display: block;
  margin: 30px auto 0 auto;
  font-size: 22px;
}

.factorLabel {
  font-size: 24px;
  font-family: sans-serif;
  color: black;
}

/**** timeline styling ****/

.yearLabel {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/**** scatterplot styling ****/

.line {
    stroke: #E4002B;
    fill: none;
    stroke-width: 3;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
    font-family: sans-serif;
}

.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.dot {
    /*fill: #1E90FF;*/
    opacity: 0.5;

}

/*body {
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
}*/

.spaceBruh { margin-top: 600px; }

#scatter {
  background-color: grey;
  background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height: 75%;
  background-size:50px 50px;
}

.gridLines {
  position:absolute;
  bottom:10px;
  right:10px;
  text-decoration: none;
  color: #ffffff;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #000080;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: 0 0 0 0;
  top: 0;
  left: 0;
}
