/**** general page styling ****/
body {
  font: 15px;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

h4 {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border-width: 2px 0;
  border-color: #c4c3c2;
}

p {
  text-align: justify;
}

p.indent {
  padding-left: 1.8em
}

label {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

#attribution {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

/***** road styling *****/
#leftRoad {
  height: 600px;
  margin-right: 30px;
}

#rightRoad {
  height: 600px;
  margin-left: 30px;
}

#roadContainer {
  width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#roadViz {
  border: 2px;
}
