/**** general page styling ****/
body {
  font: 15px;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

h4 {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

hr {
  border-width: 2px 0;
  border-color: #c4c3c2;
}

p {
  text-align: justify;
}

p.indent {
  padding-left: 1.8em
}

label {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

#attribution {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

/***** axes styling *****/
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  fill: #FFF;
  font-family: sans-serif;
}

.label {
  font-size: 18px;
  font-family: sans-serif;
}

/***** tooltip styling *****/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  z-index: 5;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/***** map styling *****/
#mapView {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.marker {
  stroke: black;
  stroke-width: 1px;
}

.markerLabel {
  font-size: 12px;
  font-family: sans-serif;
  pointer-events: none;
}

/**** overlay styling ****/
#overlay-top {
  position: absolute;
  width: 100%;
  height: 280px;
  top: -280px;
  display: none;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}

#overlay-top-left {
  display: inline-block;
  width: 80%;
  height: 100%;
}

#overlay-top-right {
  display: inline-block;
  width: 280px;
  height: 280px;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
}

#overlay-right {
  position: absolute;
  width: 280px;
  height: 100vh;
  top: 0;
  right: -280px;
  display: none;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

#overlay-bottom {
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: -80px;
  right: 0;
  display: none;
  background-color: rgba(0,0,0,0.6);
}

#bottomRight {
  margin-left: 20px;
  margin-top: 40px;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0px;
}

#toggleArea {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 265px;
}

/**** histogram styling ****/
.bar {
  fill: #7BC8BD;
}

.bar text {
  fill: #000;
  font: 14px 'Roboto', sans-serif;
}

svg text.label {
  fill:	black;
  font: 15px 'Roboto', sans-serif;
  font-weight: 400;
  text-anchor: middle;
  pointer-events: none;
}

.histTitle {
  font-size: 16px;
  font-family: sans-serif;
  fill: white;
}

.cityLabel {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin: 10px 0 10px 0;
}

/***** slider styling *****/
.ticks {
  font: 12px 'Roboto', sans-serif;
  fill:	white;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#sliderAxis path {
  stroke: none;
}

#giants {
  height: 80px;
  opacity: 0.2;
}

#rain {
  height: 80px;
  opacity: 0.2;
}

#holiday {
  height: 80px;
  opacity: 0.2;
}

#temperature {
  font-size: 100px;
  color: white;
  text-align: center;
  line-height: 1.2;
}

#date {
  font-size: 22px;
  color: white;
  text-align: center;
}

/***** gauge styling *****/
#chart-gauge {
  width: 300px;
  margin: 100px auto;
  position: absolute;
  top: 250px;
}

.chart-filled {
  fill: #31a354;
}

.chart-empty {
  fill: #797979;
}

.needle, .needle-center {
  fill: rgba(222, 216, 222, 1);
}

.guageTitle {
  font-size: 17px;
  font-family: sans-serif;
  fill: white;
}

.guageAxis {
  font-size: 16px;
  font-family: sans-serif;
  fill: white;
}


.line {
    stroke: #E4002B;
    fill: none;
    stroke-width: 3;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
    font-family: sans-serif;
}

.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.dot {
    height: 10px;
    width: 10px;
    fill: #1E90FF;
    opacity: 0.5;

}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
}
#content{
    background-color: transparent;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}

.gridLines {
  position:absolute;
  bottom:10px;
  right:10px;
  text-decoration: none;
  color: #FFFFFF;
}